<!DOCTYPE html>
<html lang="en">
<head>
    {% include "layouts/_head.html" %}
</head>

<body class="fullscreen-body {% block body_class %}{% endblock %}">

{% include "includes/navigation.html" %}

    <main class="fullscreen-main">
        {% block content %}{% endblock %}
    </main>

    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    {% block extra_js %}{% endblock %}
{% include "includes/footer.html" %}
</body>
</html>